@media only screen and (max-width:768px) 
{

    /* navigation-bar */
    body{
        /* overflow-x: hidden; */
    }

    .logo{
        position: absolute;
        left:1.5rem;
    }
    .burger{
        position: absolute;
        right:4rem;
    }
.nav{
    opacity: 1;
}
    .nav-links{
        position: absolute;
        right: 0;
        height: 91vh;
        top: 9.8vh;
        /* background: #5D4954; */
        /* background:black; */
         background: rgba(0, 0, 0, 0.815);
        z-index: 100;
        /* opacity: 0.8; */
        display: flex;
        flex-direction: column;
          grid-column-gap: 0.5rem;
        align-items: center;
        width:50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .nav-links a{
        font-size:1.3em;
        color: #fff;
        padding: 0;
       
    
    }

    .nav-links li{
        opacity: 0;
    }
    .burger{
        display: block;
     
    }

    .nav-active{
        transform: translateX(0%);
    }

    @keyframes navLinkFade {
        from{
            opacity: 0;
            transform: translateX(50px);
        }
        to{
            opacity: 1;
            transform: translateX(0px);
        } 
        
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px,6px);

}

.toggle .line2 {
    opacity:0;

}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);


}

    header .navbar-brand {
        padding-left: 1rem;
    }
    .section-1 .row .col-md-6 .panel{
        position: initial;
        width: initial;
        height: inherit;
    }
    .kamesh h1 {
        font-size: 1.1rem;
        /* color: initial; */
        margin-top: 0.5px;

    }
    .section-1 .px{
        font-size: 1.5em;
    }
    .section-1 .py{
          font-size:0.8em;
    }
    .section-1 .v{
        padding: 1em 2em;
    }
    .section-1 .row .col-md-6 .panel h1{
        font-size: 1em;
    }
    .section-1 .row .col-md-6 .panel ul{
        font-size:0.7em;
        padding:1rem 3rem;
        text-align: center;
    }
    .section-1 .row .col-md-6 .pray img{
        width:70%;
        margin-top:1rem;
    }
    .section-2 .cover{
        background-position: -25vmin -10vmin; 
    }
    .numbers .rect{
        width:10rem;
        height: 8rem;
         margin: 0.2rem;
    }
    .numbers .rect h1{
        font-size:2rem;
    }
    .numbers {
        margin-top: -10vmin;
    }
    footer .follow .social{
        padding:0.5rem;
    }

    footer .follow .fa-angle-up{
        font-size:1em;
    }
    footer .last p{
        font-size:1em;
    }

    .pz{
        right:20%;
        font-size: 3rem;
    }
    .pz1{
        left:-20%;
        font-size:3rem;
        margin-top: 1rem;
    }
    .lg-heading{
        font-size: 3em;
    }
    .sm-heading{
        font-size: 1em;
    }

}

@media only screen and (max-width:320px){

    .nav-links{
        height: 90vh;

    }
    .nav-links a{
        font-size: 1em;
    }
    .section-1 .px {
        font-size: 1.5em;
    }

    .section-1 .py {
        font-size: 0.7em;
    }

    .section-1 .v {
        padding: 1em 2em;
    }

    .section-1 .row .col-md-6 .panel .heading {
        font-size: 0.9em;
    }

    .section-1 .row .col-md-6 .panel ul {
        font-size: 0.7em;
        padding: 0.5rem 1rem;
        text-align: center;
    }

    .section-1 .row .col-md-6 .pray img {
        width: 70%;
        margin-top: 1rem;
    }
    .section-1 .v{
        padding:1rem 2rem;
    }
    .section-1 .row .col-md-6 .panel h1{
        font-size: 1em;
    }
   
  .social .social-button a{
      font-size:1em;
       width: 25px;
       height: 25px;
      padding:1.5em;
  }
  footer .last p{
      font-size: 0.9em;
  }

}

@media (max-width: 320px),
(max-height: 640px){
    .nav-links{
        height: 92vh;
    }
    .nav-links a{
        font-size: 1em;
    }
}

@media (max-width: 800px),(max-height: 1280px){
    .section-1 .row .col-md-6 .panel ul {
        font-size: 0.8em;
        padding: 0.5rem 1rem;
        text-align: center;
    }
    .nav-links {
       
        width: 70%;
        /* padding-top: 1rem; */
    }
    

}
@media (max-width: 1024px),
(max-height: 1366px){
      .nav-links {

          width: 80%;
          /* padding-top: 1rem; */
      }
      .nav-links a{
          font-size:1.2em;
      }
/* 
      footer .follow{
          height: 10vh;
      }
      footer .last p{
          font-size:1em;
          padding-top:0.5rem;
      }
      .social .social-button a{
            width: 55px;
            height: 55px;
          font-size: 1em;
      }
      .social .social-button a::before{

         width: 55px;
         height: 55px;

      } */
}

@media only screen and (max-width:914px){
     .nav-links a{
         padding: 10px 15px;
         font-size: 1em;
     }
     

}


