/* Google font */
@import url('https://fonts.googleapis.com/css?family=Baskervville|Calistoga|Josefin+Sans|Merriweather|Roboto&display=swap');

* {
    box-sizing: border-box;
}

header,
section {
    overflow-x: hidden;
}

header a {
    font-family: 'Roboto', sans-serif;
    color: whitesmoke;
    text-decoration: none;

}

.pz {
    position: absolute;
    left: 50%;
    color: #ffa801;
    font-weight: bolder;
    font-size: 4rem;

}

.pz1 {
    color: #3498db;
    position: absolute;
    left: 20%;
    font-weight: bolder;
    font-size: 4rem;
    margin-top: 1rem;

}

#he {
    width: 100%;
    height: 100vh;
    background: #756666;
    background-image: url(../img/o.jpg);
    overflow: hidden;
    /* background-image: linear-gradient(to top, #3f51b1 0%, #5a55ae 13%, #7b5fac 25%, #8f6aae 38%, #a86aa4 50%, #cc6b8e 62%, #f18271 75%, #f3a469 87%, #f7c978 100%); */
    /* background-image: linear-gradient(to top, #fcc5e4 0%, #fda34b 15%, #ff7882 35%, #c8699e 52%, #7046aa 71%, #0c1db8 87%, #020f75 100%); */
    background-position: center;
    background-size: cover;
    /* background-attachment: fixed; */
    position: relative;
    /* opacity: 0.5; */
    /* background-image: linear-gradient(-225deg, #2CD8D5 0%, #6B8DD6 48%, #8E37D7 100%); */
    /* background-attachment:fixed; */
    /* background-image: linear-gradient(-225deg, #231557 0%, #44107A 29%, #FF1361 67%, #FFF800 100%); */
    /* background-image: linear-gradient(to right, #b8cbb8 0%, #b8cbb8 0%, #b465da 0%, #cf6cc9 33%, #ee609c 66%, #ee609c 100%); */
}


#he:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    /* background: rgba(68, 68, 68, 0.9); */
    background: rgba(2, 49, 61, 0.89);
}

h1,
h2 {
    margin-top: 0;
    font-weight: 400;
}

.lg-heading {
    font-size: 4em;
}

.b {
    font-family: 'Baskervville',
        serif;
}

.span-text {
    font-family: 'Baskervville',
        serif;
    /* font-size: 3.5rem; */
}

.sm-heading {
    margin-top: 5rem;
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
    text-shadow: 0 2px 5px rgba(0, 0, 0, .5);
    /* background: #494949; */
    /* background: #44107A; */
    font-size: 1.5em;
    word-spacing: 2px;
}

header {
    /* position: fixed; */
    z-index: 2;
    width: 100%;
}

#home {
    width: 100%;
    /* height: 100vh; */
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


#particles-js {
    width: 100%;
    height: 100vh;

}

/* navigation bar */

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10vh;
    /* min-height: 7vh; */
    /* background: #5D4954; */
    /* background: rgba(0, 0, 0, 0.815); */
    /* background: rgba(221, 187, 187, 0.9); */
    /* background: black; */
    font-family: 'Poppins', sans-serif;
    /* position: absolute; */
    /* opacity: 0.9; */

}

.nav-links {
    display: flex;

    /* display: inline; */
    justify-content: space-around;
    width: 30%;
    height: 5vh;

    padding-top: 0.8rem;
    /* background: #231557; */

}

.nav-links a:hover {
    background: #1e272e;
    border: 2px solid #1e272e;
    color: #ffffff;
    transition: transform 0.5s ease-in;

}

.nav-links li {
    list-style-type: none;

}

.nav-links a {
    color: rgb(226, 226, 226);
    padding: 15px 25px;
    text-decoration: none;
    /* letter-spacing: 3px; */
    /* font-weight: bold; */
    font-size: 1em;

}

.burger {
    display: none;
    cursor: pointer;
}

.burger div {
    width: 30px;
    height: 3px;
    background-color: rgb(226, 226, 226);
    margin: 5px;
    transition: all 0.3s ease;
}



header .container {
    width: 100%;
    height: 100vh;
}



.arrow-down {
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-85%, -50%);
}

.arrow-down .fa-chevron-down {
    font-size: 1.5em;
}




/* section 1 */

.section-1 {
    /* height:100vh;
   */
    /* background: #756666; */
    /* background: #30336b; */

    padding: 20vmin 0;

    background-image: linear-gradient(-225deg, #231557 0%, #44107A 29%, #FF1361 67%, #FFF800 100%);
}

.section-1 .px {
    font-size: 1.8em;
    font-family: 'Baskervville',
        serif;
}

.section-1 .py {
    font-size: 0.9em;
    font-family: 'Josefin Sans',
        sans-serif;
}

.section-1 .row .col-md-6 .pray img {
    width: 65%;
    /* height:500px; */
    /* opacity: ; */
    margin-top: 3.5rem;
    border-radius: 50%;
    border: 3px solid yellowgreen;
}

.section-1 .row .col-md-6:last-child {
    position: relative;
}

.section-1 .row .col-md-6 .panel {
    position: absolute;
    top: 12vmin;
    /* left: -10vmin; */
    /* background: white; */
    /* background-image: linear-gradient(-225deg, #2CD8D5 0%, #6B8DD6 48%, #8E37D7 100%); */
    /* background-image: linear-gradient(-225deg, #2CD8D5 0%, #C5C1FF 56%, #FFBAC3 100%); */
    /* border-radius: 10px;
    text-align: left; */
    width: 100%;
    /* height: 0vh; */

    /* padding: 13vmin 5vmin 20vmin 10vmin; */
    box-shadow: 0px 15px 62px rgba(0, 0, 0, 0.2);

    /* z-index: 1; */
}

.section-1 .row .col-md-6 .panel h1 {
    font-weight: bold;
    color: #ffffff;
    padding: 2.4em;
    font-size: 1.5em;
    font-family: 'Merriweather',
        serif;
}

.section-1 .row .col-md-6 .panel ul {
    font-size: 1em;
    list-style-type: none;
    /* color: rgba(0, 0, 0, 0.556); */
    color: #ffffff;
    font-weight: lighter;
    padding: 1rem 5rem;
    font-family: 'Roboto',
        sans-serif;
}

/* section-2 */

.cover {
    width: 100%;
    height: 70vmin;
    background-image: url(../img/team.jpg);
    background-position: -24rem -19rem;
    background-size: cover;
    background-position: center;
    position: relative;
}

.cover .content {
    background: rgba(0, 0, 0, 0.7);
    height: 100%;
    width: 100%;
    padding-top: 19vmin;
}

.cover .content h1 {
    font-family: 'Josefin Sans',
        sans-serif;
    font-size: 6vmin;
    color: whitesmoke;
}

.cover .content p {
    font-family: 'Roboto',
        sans-serif;
    font-size: 2vmin;
    color: #e5e5e5;
}

.numbers .rect {
    position: relative;
    z-index: 1;
    background: white;
    width: 15rem;
    height: 12rem;
    padding-top: 5vmin;
    border-radius: 1em;
    margin: 3rem;
    box-shadow: 1px 2px 50px 0px rgba(5, 4, 4, 0.349);
}

.numbers {
    margin-top: -25vmin;
}

.numbers h1 {
    font-size: 3rem;
    color: tomato;
}

.numbers p {
    font-family: 'Calistoga',
        cursive;
}

/* footer */

footer {
    background: rgba(0, 0, 0, 0.815);
    overflow-x: hidden;
    /* padding: 14vmin 18vmin; */
}

footer .follow {
    height: 15vh;
    /* padding:2.5rem; */
    /* padding: 5vmin 6vmin; */
    /* background: blue; */
}

footer .follow .social {
    padding: 1rem;
}

footer .follow .fa-angle-up {
    position: absolute;
    right: 2rem;
    top: 2rem;
    color: #fff;
    font-size: 2em;
    /* background: #44107A; */
    background-image: linear-gradient(-225deg, #231557 0%, #44107A 29%, #FF1361 67%, #FFF800 100%);

    padding: 0.5rem 1rem;
    /* font-weight: lighter; */
}

footer .ul {
    list-style-type: none;
}

footer a {
    text-decoration: none;
}

footer span {
    color: #ff512f;
    font-family: 'Roboto',
        sans-serif;
}


footer .last p {
    font-size: 1.2em;
    font-family: 'Roboto',
        sans-serif;
}

footer .social {
    /* width:100%;
    height: 50vh; */
    display: flex;
    justify-content: center;
    align-items: center;

}

.social .social-button a {
    display: inline-flex;
    text-decoration: none;
    font-size: 1.25em;
    width: 45px;
    height: 45px;
    /* color: #fff; */
    color: #C4E538;
    justify-content: center;
    /* background: red; */
    align-items: center;
    position: relative;
    /* margin: 0 8px; */
    padding: 2em;
    transition: 0.3s ease-in;
}

.social .social-button a::before {
    content: "";
    position: absolute;
    width: 45px;
    height: 45px;
    /* background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%); */
    border-radius: 50%;
    z-index: -1;
    background-image: linear-gradient(-225deg, #231557 0%, #44107A 29%, #FF1361 67%, #FFF800 100%);

    transition: 0.3s ease-in;
}

.social .social-button a:hover::before {
    transform: scale(0);
    color: #ffffff;

}

.social .social-button a i {
    transition: 0.3s ease-in;
}

.social .social-button a:hover i {
    background: linear-gradient(45deg, #00d2d3, #576574);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: scale(2.2);

}

/* sticky class */


.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.815);
    z-index: 9999;
    transition: all 1.5s ease;
}