/* section1 */

.section1{
    height:auto;
    width: 100%;
    /* background: #11061f; */
       /* background: rgba(209, 181, 181, 0.815); */
       background-image: linear-gradient(45deg, #874da2 0%, #c43a30 100%);
    padding-bottom: 20px;
}
.con1{
       font-family: 'Baskervville',
       serif;
       overflow-x: hidden;
       /* height: 100vh; */
}
.c{
    height:100vh;
}
.c h1{
    padding-top:1rem;
    text-align: center;
    
}
.slider{
    padding-top: 2rem;
}
.section2{
     height:100vh;
     width: 100%;
     background: blueviolet;
}

.con5{
    margin-bottom: 10rem;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    /* background: rgba(0, 0, 0, 0.815); */
    z-index: 9999;
    transition: all 1.5s ease;
    opacity: 1;
}